<% if user_signed_in? %>

  <!-- <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->

  <div class="avatar dropdown-toggle" data-toggle="dropdown">
    <i class="fas fa-bars"></i>
  </div>

  <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
    <% if policy(Boat).create? %>
      <li><%= link_to "Add Boat", new_boat_path %></li>
    <% end %>
  </ul>
<% end %>


