// Specific CSS for your home-page
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: image-url("open-sea-banner.jpg");
  background-size: 100% 600px;

  h1 {
    margin-top: 10%;
    font-size: 72px;
    color: white;
    text-shadow: 1px 1px #BDBDBD;
  }
}

.featured-sign {
  display: flex;
  justify-content: center;
  align-content: center;
}

.sign {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 360px;
  height: 90px;
  border-radius: 1px;
  border: 1px solid #CC9933;
  color: #A5A5A5;
  text-align: center;
}

.featured-vessels {
  background: #ECEDF2;
  height: 380px;
  //for Wed Demo only
  text-align: center;

  h3 {
    color: #CC9933;
    padding-top: 13%;
  }
}
