<div class="container">
  <div class="search-home">




        <form action="<%= boats_path %>" method="GET">
          <input type="text" name="query">
          <button type="submit" class=" search-button btn">Get Cruisin'</button>
        </form>


    </div>
</div>




