<div class="wrapper">
  <div class="banner">
    <h1>Come on in, the water is fine.</h1>
  </div>
</div>

<div class="wrapper">
  <div class="featured-sign">
    <div class="sign">
      <h2>Featured Vessels</h2>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="featured-vessels">
    <h3>Your Featured Vessels Here!</h3>
  </div>
</div>

<div class="container">
  <div class="featured-sign">
    <div class="sign">
      <h2>How It Works</h2>
    </div>
  </div>
</div>




