<h1>All of My Boookings:</h1>

<% @my_bookings.each do  |x| %>
<div class="">
    <p>Boat Name: <%= x.boat.name %></p>
    <p>Start Date: <%= x.start_date %></p>
    <p>End Date: <%= x.end_date %></p>
    <p>Total Price: <%= x.total_price %></p>
    <br>
    <br>
  <% end %>
</div>

