.add-boat-header {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid #D0A143;
  color: #B8A7A7;
  margin-bottom: 60px;
  margin-left: 10%;
  padding: 15px;

  h1 {
    font-size: 36px;
  }
}

.add-boat-form-content {

}

.add-boat-text-field {
  border-radius: 2px;
  box-shadow: none;
  width: 320px;
  margin: 30px 0px 30px 0px;
}

