.title p, h3 {
  padding: 5px;
  margin-bottom: 30px;
  // color: #B0B0B0
}


.no_boat_image{
  position: center;
  text-align: center;
  h1{
    text-align: center;
    position: center;
  }
}
#vessel-name {
  font-size: 40px;
  text-position: center;
}

#locale {
  font-size: 30px;
}

.card-show {
  background: white;
  border-radius: 5px 5px 0px 0px;

.show-img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    background-position: center;
    background-size: cover !important;
  }

  p {
    padding: 20px;
    margin-top: 0px;
    border-bottom: 1px solid #D0A143;

  }

  h3 {
    padding-bottom: 30px;
    margin-bottom: 0px;
    border-bottom: 1px solid #D0A143;
    text-align: center;

  }
}

.text{
  width: 60%;
  h3{
    text-align: center;
    margin-bottom: 0px;
  }
}


.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.owner_options{
  // display: flex;
  // justify-content: space-between;
  border-top: 1px solid #D0A143;
  text-align: center;
  width: 60%;
  button{
    width: 150px;
    color: white;
    background-color: #D0A143;
    border-radius: 5px;
    height: 40px;
  }


}

.price{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D0A143;
  padding-top: 10px;
}


.city{
  display: flex;
  justify-content: space-between;
}

.vessel_capacity{
  display: flex;
  justify-content: space-between;
}

.vessel_type{
  display: flex;
  justify-content: space-between;

}


.show-info {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  // text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;



}

.book_now {
  font-size: 28px;
  margin-top: 50px;
  display: flex;
  color: white;
  width: 350px;
  height: 60px;
  background: #D0A143;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border: 1px solid #D0A143;

  &:hover{
    transition: all .5s ease;
    border: 1px solid #D0A143;
    background: white;
    color: #B8A7A7;
  }
}

.button {
  text-position: center;

  a:hover {
    text-decoration: none;
  }
}

.back {
  background-color: #D0A143;
  border: 1px solid #D0A143;
  color:white;
}

.delete_boat{
  margin-top: 50px;
  button{
   width: 150px;
   color: white;
   background-color: #D0A143;
   border-radius: 5px;
   height: 40px;
  }
  button:hover{
    background-color: #d9534f;
  }
}

.edit_boat{
  margin-top: 50px;
  button{
   width: 150px;
   color: white;
   background-color: #D0A143;
   border-radius: 5px;
   height: 40px;
  }
  button:hover{
    background-color: #5cb85c;
  }
}

.owner_options{

border-top: 1px solid #D0A143;
text-align: center;
width: 60%;
}
