
.main_container{
  min-height: 80vh;
}

.home_title {
  margin-top: 0px !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.sweet_line{
  border-bottom: 1px solid #D0A143;
  width: 50%;
  margin-bottom: 50px;
}

.card{
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover !important;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}


.card_border{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px #D3D3D3;
  border-radius: 5px 5px 0px 0px;
  text-position: center;
}

.boat_details{
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #B8A7A7;
  padding-bottom: 0px;
  p{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
    padding-bottom: 5px;
  }
}

.main{
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: #B8A7A7;
  padding-bottom: 0px;
}

.capacity{
  display: flex;
  p{
    font-size: 12px;
  }
}

.nav_wheel{
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover !important;
  position: absolute;
  right: 10px;
  top: 10px;
}


.name{
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 60%;
  text-align: center;
  color: #B8A7A7;
  position: relative;
  left: 20%;
  top: -15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #D3D3D3;
  h3{
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}


