.title p, h3 {
  padding: 5px;
  margin-bottom: 30px;
  // color: #B0B0B0
}


#vessel-name {
  font-size: 40px;
  text-position: center;
}

#locale {
  font-size: 30px;
}

.card-show {
  background: white;
  border-radius: 10px 10px 0px 0px;


  .show-img {
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
    background-size: cover !important;
  }

  p {
    padding: 20px;
    margin-top: 0px;

  }

  h3 {
    padding: 20px;
    margin-bottom: 0px;

  }
}

.text{
  width: 60%;
  h3{
    text-align: center;
    margin-bottom: 0px;
  }
}


.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.price{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 10px;
}


.city{
  display: flex;
  justify-content: space-between;
}

.vessel_capacity{
  display: flex;
  justify-content: space-between;
}

.vessel_type{
  display: flex;
  justify-content: space-between;

}


.show-info {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  // text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;

}

.book_now {
  font-size: 28px;
  margin-top: 50px;
  display: flex;
  color: white;
  width: 350px;
  height: 60px;
  background: #D0A143;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border: 1px solid #D0A143;
  :hover{
    background: #D0A143;
    color: white;
    border: 1px solid #D0A143;
  }
}

.button {
  text-position: center;
}

.back, .delete{
  background-color: #D0A143;
  border: 1px solid #D0A143;
}

.delete_boat{
  margin-top: 50px;
}
