// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "card-show";
@import "boat_index";
@import "footer";
@import "flashes";
@import "form";
@import "search_main";