// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "card-show";
@import "boat_index";
@import "footer";
@import "flashes";
@import "form";
@import "search_main";
@import "map";
@import "booking-boat";
@import "booking-form";
@import "edit-profile-form";
@import "add-boat-form";
@import "log-in-form";
@import "dashboard";
@import "sign-up-form"

