// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "card-show";
@import "boat_index";
@import "footer";
@import "flashes";
@import "form";
@import "search_main";
@import "map";
@import "booking-boat";
@import "booking-form";

@import "add-boat-form"
