.map-container{
  margin-left: 25px;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #D3D3D3;
}
.map-show{
  margin-left: 15px;
  margin-right: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #D3D3D3;
}
