.map-container{
  width: 32% !important;
  position: sticky !important;
  top: 65px;
  right: 10px;
  height: calc(100vh - 90px) !important;
  margin-bottom: 20px;
  margin-left: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #D3D3D3;
}
.map-show{
  // margin-left: 15px;
  // margin-right: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #D3D3D3;
}

