<div class="space-maker" style="height:50px"></div>

<h1 class="boat-form container">Please add the details for the boat you would like to edit:</h1>

<%= render 'form', boat: @boat %>

<div class="space-maker" style="height:50px"></div>
